/* .chordBox {
  width: 1em;
  height: 1em;
} */
.chord caption {
  margin: 4px 0 0 0;
  background-color: #3f51b5;
}
.chordBasic {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: left;
  background: #bbb;
}
.chordFiltered {
  display: flex;
  flex-direction: row;
  justify-content: left;
  background: #bbb;
  margin: 0.5em;
}
.chordChildBox {
  width: 50%;
}
.titles {
  font-family: sans-serif;
  font-weight: 300;
}
.chordsBox {
  display: flex;
  justify-content: center;
}
.filteredChords {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 3.5em;
  background: darkgray;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.chord caption {
  background-color: #848181;
  border-radius: 0;
}
