/* .chordBox {
  width: 1em;
  height: 1em;
} */
.chord caption {
  margin: 4px 0 0 0;
}
.chordBasic {
  display: flex;
  padding: 1em;
  flex-direction: row;

  /* background: #bbb; */
}
.chordBasic .chord caption {
  position: relative;
  bottom: 4px;
}
.chordFiltered {
  display: flex;

  justify-content: left;
  background: #bbbbbb;
  margin: 0.5em;
}
.chordChildBox {
  width: 50%;
}
.chordChildBoxSingle {
  /* display: flex;
  flex-direction: row; */
  width: 100%;
}
.titles {
  display: flex;
  justify-content: space-around;
  /* font-family: sans-serif; */
  font-weight: 300;
  font-family: Anton, sans-serif;
  /* font-weight: bold; */
  text-align: center;
  /* font-size: 72px !important; */
  /* word-spacing: -3px; */
  color: white !important;
  text-shadow: rgb(0, 0, 0) 1px 1px 1px;
  padding-top: 0.2em;
  height: 1.5em;
  background: #d9c059;
}
.chordsBox {
  display: flex;
  justify-content: center;
}
.filteredChords:hover {
  overflow: scroll;
}
.filteredChords {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 3.5em;
  /* background: darkgray; */
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.chord caption {
  background-color: #d9c059;
  border-radius: 0;
}
.chordFlex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  /* background: #a9a9a9; */
}
table.chord {
  background-color: #bbbb;
  width: 8em;
  /* transform: scale(0.7); */
}
.noUi-value-horizontal {
  font: icon;
}

@media (min-width: 100px) {
  /* .table.chord, */
  .chordFiltered {
    margin: 0;
    /* transform: scale(0.7); */
  }
  .filteredChords {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media (min-width: 700px) {
  /* .table.chord, */
  .chordFiltered {
    margin: 0.5em;
    transform: scale(1);
  }
}
.enharmonic {
  width: 100%;
  text-align: center;
  padding: 0 1em;
}
