@import "variables.scss";
@import url("https://fonts.googleapis.com/css?family=Anton");
body {
  margin: 0;
}
/* h2 {
  font-size: 2em;
} */

#___gatsby {
  background: gainsboro;
  overflow-x: hidden;
}
.infoBox {
  text-align: center;
  padding: 1em 1em 0 1em;
}
.underH1 {
  display: flex;
  justify-content: space-around;
  font-weight: 300;
  font-family: Anton, sans-serif;
  text-align: center;
  color: white !important;
  text-shadow: rgb(0, 0, 0) 1px 1px 1px;
  /* padding-top: 0.2em; */
  height: 1.5em;
  position: relative;
  top: -89px;
  padding: 1em;
  font-size: 13px;
}
.titles {
  background: $base-color;
  /* color: rgb(217, 192, 89); */
  font-size: 1em;
}

.textBox {
  padding: 2rem;
}
.mainTitle {
  letter-spacing: -1px;
  font-family: Anton, sans-serif;
  font-size: 3em;
  letter-spacing: 0px;
  /* word-spacing: 0.5px; */
  color: white;
  text-shadow: rgb(0, 0, 0) 1px 1px 1px;

  font-weight: 400;
  text-decoration: none;
}
.titleSentence {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 17px;
  letter-spacing: 0px;
  word-spacing: -5px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
}
.noUi-target {
  /* margin: 1em;
  margin-bottom: 3em; */
  /* width: 96.7% !important; */
  margin: 2em 2em;
}
.noUi-value {
  color: black;
}
.chordFilteredBox {
  width: 100%;
  /* height: 90vh; */
  /* overflow-y: scroll; */
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin: 1em 0;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 9px;
}

.MuiButton-containedPrimary {
  background-color: $base-color !important;
}
.chordSelector {
  position: relative;
  right: 0.5em;
}
.jss1,
.makeStyles-root-1 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  right: 0.5em;
}
.headSection {
  display: flex;
  flex-direction: row;
}
#chordSelectors {
  display: flex;
  flex-direction: row;
}
.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #a9a9a9 !important;
}
.MuiAppBar-root {
  height: 4em;
}
.noUi-connect {
  background: black !important;
}
.fret-number {
  text-indent: 1px;
}
#chordByFred {
  margin-top: 1em;
}
form {
  margin-top: 1em;
}
/* .MuiButton-label {
  position: relative;
  bottom: 0;
} */
.makeStyles-button-4 {
  height: 4em;
}

.ChordFinderTitle {
  font-family: Anton, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 2em !important;
  word-spacing: -3px;
  color: $base-color;
  text-shadow: rgb(0, 0, 0) 3px 3px 3px;
  height: 20vh;

  /* padding-bottom: 0.5em; */
  /* background-color: #dcdcdc; */
  /* background-image: url("../images/dark-leather.png"); */
}
.ChordFinderTitleBox {
  background-image: url("../images/navBackground.png");
  /* opacity: 0.5; */
  height: 15vh;
}
.UkeChordFinderTitleBox {
  background-image: url("../images/ukeBackground.png");
  /* opacity: 0.5; */
  height: 17vh;
}
@media (max-width: 359px) {
  .underH1 {
    top: -61px;
  }
  .ChordFinderTitleBox {
    height: 17vh;
  }
}
@media (min-width: 767px) {
  .underH1 {
    font-size: 19px;
    top: -105px;
  }
  .textBox {
    padding: 2rem 5rem 0rem 5rem;
  }
  .titles {
    font-size: 1.5em;
  }
  .ChordFinderTitleBox {
    height: 14vh;
  }
}

.chordGrade {
  margin-top: 1em;
  color: white;
  background: #ffffff12;
  font-family: monospace;
}
.chordName {
  /* color: white; */

  background: #ffffff2b;
  font-weight: 300;
}

.outerBox {
  padding: 0.5em;
  background-color: $secondary-color;
  border-radius: 15px;
  margin: 0.5em;
}
.middleBox {
  background: $base-color;
  padding: 0.5em;
  border-radius: 15px;
}
.innerBox {
  background-image: url("../images/dark-wall.png");
  background: #faf7f7;
  /* padding: 1em; */
  border-radius: 15px;
  margin: -1em 0em;
}
@media (min-width: 767px) {
  .ChordFinderTitle {
    font-size: 4em !important;
    padding-bottom: 0.2em;
    position: relative;
    bottom: 22px;
  }
  .outerBox {
    padding: 1em;
    border-radius: 30px;
    margin: 2em;
  }
  .middleBox {
    padding: 1em;
    border-radius: 30px;
  }
  .innerBox {
    border-radius: 30px;
  }
  .UkeChordFinderTitleBox {
    height: 8em;
  }
  .selectorBox {
    height: 3em;
  }
}
.noUi-target {
  border: 2px solid $base-color !important;
}

@media (min-width: 1024px) {
  /* .ChordFinderTitleBox {
    height: 19vh;
  } */
  .underH1 {
    top: -102px;
  }
}
