/* .Chord .Title .Key {
  font-size: 0.2rem !important;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.Chord .Title .Type {
  font-size: 0.4rem;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.Chord .Title {
  text-anchor: middle;
} */
.harmonizerChordbox {
  width: 7em;
}
@media (min-width: 600px) {
  .harmonizerChordbox {
    width: 10em;
  }
}
.harmonizerChordsBox {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.chordTitleBox {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#out {
  height: auto;
}
#middle {
  padding-top: 2em;
  padding-bottom: 2em;
  height: auto;
}
#in {
  padding-top: 0.1em;
  padding-bottom: 1em;
  height: auto;
}
