/* .Chord .Title .Key {
  font-size: 0.2rem !important;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.Chord .Title .Type {
  font-size: 0.4rem;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.Chord .Title {
  text-anchor: middle;
} */

.harmonizerChordbox {
  width: 14%;
}
.harmonizerChordsBox {
  display: flex;
  flex-wrap: wrap;
}
.chordTitleBox {
  display: flex;
  flex-direction: column;
  text-align: center;
}
